<%- include('./partials/_header'); %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>Listado de Pacientes</h4>
    </div>

<div class="form-group mb-3">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Crear Nuevo Paciente
  </button>
</div>
<div class="table-responsive">
    <table id="example" class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th>Run</th>
                <th>Ficha</th>
                <th>Nombres</th>
                <th>Controles</th>
                <th>Dias Corridos</th>
                <th>Eva Ingreso</th>
                <th>Ps Ingreso</th>
                <th>Edad Ingreso</th>
                <th>Diagnostico</th>
                <th>Estado</th>
                <th>Fallecido</th>
                <th>Acciones</th>
            </tr>
        </thead>
    <tbody>
        <% if(data) { %>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].Run %></td>
                  <td><%= data[i].Ficha %></td>
                  <td><%= data[i].Nombres %></td>
                  <td><%= data[i].CantidadControles %></td>
                  <td><%= data[i].DiasCorridos %></td>
                  <td><%= data[i].EvaIngreso %></td>
                  <td><%= data[i].PsIngreso %></td>
                  <td><%= data[i].EdadIngreso %></td>
                  <td><%= data[i].Diagnostico %></td>
                  <% if (data[i].Estado == 0) {%>
                    <td><span class="badge bg-warning  text-dark">En tratamiento</span></td>          
                <%} else { %>
                    <td><span class="badge bg-success">De Alta</span></td>
                    <%}%>                                  
                  
                    <% if (data[i].EstadoFallecido == "Fallecido") {%>
                        <td><i class="text-danger fa-solid fa-cross"></i></td>          
                    <%} else { %>
                        <td></td>
                        <%}%>                

                  <td><a href="profile/<%= data[i].RunSinDV %>" class="btn btn-primary btn-sm"><i class="fa-solid fa-user"></i></a>
                    <button type="button" class="btn btn-info btn-sm" onclick="modalAtenderPaciente('<%= data[i].RunSinDV %>','<%= data[i].Nombres %>')">
                        <i class="fa-solid fa-user-clock"></i>
                      </button>
                      <button type="button" class="btn btn-warning btn-sm" onclick="modalAltaPaciente('<%= data[i].RunSinDV %>','<%= data[i].Nombres %>')">
                        <i class="fa-solid fa-user-gear"></i>
                    </button>
                      <button type="button" class="btn btn-danger btn-sm" onclick="modalEliminar('<%= data[i].IdCuidadosPaliativos %>','<%= data[i].RunSinDV %>', '<%= data[i].Nombres %>')">
                          <i class="fa-solid fa-user-xmark"></i>
                        </button>
                </td>
                </tr>
                <% } %>
        <%}%>
    </tbody>
  </table>
</div>
</main>

  <!-- Modal  agregar paciente-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Paciente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/addNewPatient" method="post">
            <div class="row">
                <div class="input-group mb-3 div col-md-12 ">
                    <input type="text" class="form-control" name="Run" id="Run" placeholder="Run sin DV" required maxlength="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" id="BuscarPaciente">Buscar</button>
                    </div>
                  </div>
                <div class="mb-3 col-md-8 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Nombres</label>
                    <input type="text" class="form-control" name="Nombres" id="Nombres" readonly>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">N° de Ficha</label>
                    <input type="text" class="form-control" name="Ficha" id="Ficha" readonly>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Fecha de Nacimiento</label>
                    <input type="text" class="form-control" name="FechaNacimiento" id="FechaNacimiento" readonly>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Edad de Ingreso</label>
                    <input type="text" class="form-control" name="EdadIngreso" id="EdadIngreso" readonly>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Usuario Oncológico</label>
                    <input type="text" class="form-control" name="UsuarioOncologico" placeholder="UsuarioOncologico" required>
                </div>
                <div class="mb-3 col-md-8 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" name="Domicilio" id="Domicilio" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Lugar de Ingreso</label>
                    <input type="text" class="form-control" name="LugarIngreso" placeholder="LugarIngreso" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Fecha IPD</label>
                    <input type="date" class="form-control" name="FechaIPD" placeholder="FechaIPD" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Fecha Solicitud</label>
                    <input type="date" class="form-control" name="FechaSolicitud" placeholder="FechaSolicitud" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Fecha de Ingreso</label>
                    <input type="date" class="form-control" name="FechaIngreso" placeholder="FechaIngreso" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Eva Ingreso</label>
                    <input type="text" class="form-control" name="EvaIngreso" placeholder="EvaIngreso" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Ps Ingreso</label>
                    <input type="text" class="form-control" name="PsIngreso" placeholder="PsIngreso" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Diagnóstico</label>
                    <select name="Diagnostico" id="Diagnostico" class="form-control" required>
                        <option value="">Seleccione Diagnóstico</option>
                        <% if(dataDiagnosticos) { %>
                            <% for(var i=0; i < dataDiagnosticos.length; i++) { %>
                                <option value="<%= dataDiagnosticos[i].DescripcionOrgano %>"><%= dataDiagnosticos[i].DescripcionOrgano %></option>
                                <% } %>
                        <%}%>
                    </select>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Medico Deriva</label>
                    <input type="text" class="form-control" name="MedicoDeriva" placeholder="MedicoDeriva" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Medico Ingresa</label>
                    <input type="text" class="form-control" name="MedicoIngresa" placeholder="MedicoIngresa" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Paciente Presente</label>
                    <input type="text" class="form-control" name="PacientePresente" placeholder="PacientePresente" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Conocimiento</label>
                    <input type="text" class="form-control" name="Conocimiento" placeholder="Conocimiento" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Comité</label>
                    <input type="text" class="form-control" name="Comite" placeholder="Comite" required>
                </div>
                <div class="mb-3 col-md-4 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Analgesia Previa</label>
                    <input type="text" class="form-control" name="AnalgesiaPrevia" placeholder="AnalgesiaPrevia" required>
                </div>
                <div class="mb-3 col-md-12 divDatos">
                    <label for="exampleInputEmail1" class="form-label">Observaciones</label>
                    <textarea class="form-control" name="Observaciones" placeholder="Observaciones" required></textarea>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="resultado">
                    <strong>No existe el paciente en la base de datos de Phoenix</strong>
                </div>
            </div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Guardar</button>
        </div>        
    </form>
      </div>
    </div>
  </div>

<!-- Modal Dar de Alta Paciente -->
<div class="modal fade" id="modalAltaPaciente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Estado Paciente </h5> <br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/patientDischarge" method="post" class="row g-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Rut</label>
                        <input type="text" name="runAltaPaciente" id="runAltaPaciente" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Nombres</label>
                        <input type="text" id="nombreAltaPaciente" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Tipo de Estado</label>
                        <select name="tipoEstado" id="tipoEstado" class="form-control" required>
                            <option value="">Seleccione</option>
                            <option value="0">En Tratamiento</option>
                            <option value="1">Alta</option>
                            <option value="2">Fallecido</option>
                        </select>
                    </div>
                    <div class="form-group motivoAlta">
                        <label for="exampleInputEmail1" class="form-label">Motivo de Alta</label>
                        <select name="motivoAlta" id="motivoAlta" class="form-control" required>
                            <option value="">Seleccione</option>
                            <option>Fallecimiento</option>
                            <option>Criterios de exclusion por protocolo</option>
                            <option>Traslado</option>
                            <option>Alta voluntaria o solicitada</option>
                            <option>Cambio de prevision</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group observacionAlta">
                        <label for="exampleInputEmail1" class="form-label">Otro Motivo</label>
                        <textarea name="observacionAlta" id="observacionAlta" class="form-control" required></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Eliminar Paciente -->
<div class="modal fade" id="modalEliminarPaciente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mondal-danger">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Paciente </h5> <br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="mensajeEliminarPaciente"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="" class="btn btn-danger" id="linkEliminarPaciente">Eliminar</a>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Modal Control Paciente -->
<div class="modal fade" id="modalAtenderPaciente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mondal-danger">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Control </h5> <br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/controls" method="post" class="row g-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Nombres</label>
                        <input type="text" name="nombreControl" id="nombreControl" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Tipo de Control</label>
                        <select name="tipoControl" id="tipoControl" class="form-control" required>
                            <option value="">Seleccione</option>
                            <option>Presencial</option>
                            <option>Visita Sala</option>
                            <option>Visita Domiciliaria</option>
                            <option>Control Telefónico</option>
                            <option>Telemedicina</option>
                            <option>Visita Urgencia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Fecha del Control</label>
                        <input type="date" name="fechaControl" id="fechaControl" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Observaciones</label>
                        <textarea name="observacionControl" id="observacionControl" class="form-control" required></textarea>
                    </div>
                    <input type="text" name="runControl" id="runControl" class="form-control" hidden>
                    <input type="text" name="runResponsable" id="runResponsable" class="form-control" value="17357806" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Guardar</button>
            </div>
            </form>
        </div>
</div>
</div>

<script>
function modalAtenderPaciente(runPaciente, nombrePaciente){
        $("#nombreControl").val(nombrePaciente);
        $("#runControl").val(runPaciente);
        $('#modalAtenderPaciente').modal('show');
}

function modalAltaPaciente(runPaciente, nombrePaciente){
        $("#nombreAltaPaciente").val(nombrePaciente);
        $("#runAltaPaciente").val(runPaciente);
        $('#modalAltaPaciente').modal('show');
}

function modalEliminar(IdCuidadosPaliativos, runPaciente, nombrePaciente){
        $("#mensajeEliminarPaciente").html('¿Estás seguro que desea eliminar el paciente: <b>'+runPaciente + ' ' + nombrePaciente + '</b>');
        let link = "deletePatient/"+IdCuidadosPaliativos
        $("#linkEliminarPaciente").attr("href", link);
        $('#modalEliminarPaciente').modal('show');
}
</script>

<script>
    $(document).ready(function(){        
        $('#resultado').hide()
        $('.divDatos').hide()

        $('#Run').keypress(function (e) {    
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g))

                return false;                  

        }); 

        $("#BuscarPaciente").click(function () {
        let valor = $('#Run').val();
        $.ajax({
                type:'GET',
                url:'/validatePatient/'+valor, 
                dataType: "json",
                success:function(data){
                    if (data.message == "error") {
                        $('.divDatos').hide()
                        $('#resultado').show()
                    } else {
                        $('#resultado').hide()
                        $('.divDatos').show()
                        $('#Nombres').val(data.Nombres);
                        $('#Ficha').val(data.Ficha);
                        $('#FechaNacimiento').val(data.FechaNacimiento);
                        $('#EdadIngreso').val(data.Edad);
                        $('#Domicilio').val(data.Domicilio);
                        
                    }
                        
                }
            });
      });


    });
    </script>

<script>
    $(document).ready(function(){   
        $('.observacionAlta, .motivoAlta').hide()
        $('#observacionAlta').prop('required', false);

        $("#tipoEstado").change(function(){
            let tipoEstado =  $("#tipoEstado").children("option:selected").val();

            //Estados
            // 0 = En tratamiento
            // 1 = De Alta
            // 2 = Fallecido

            if (tipoEstado == 1) {
                $('.motivoAlta').show()
                $("#motivoAlta").change(function(){
            let motivo =  $("#motivoAlta").children("option:selected").val();

            if (motivo == 'Otro') {
                $('#observacionAlta').prop('required', true);
                $('#motivoAlta').prop('required', false);       
                $("#observacionAlta").attr("name", "motivoAlta");  
                $("#motivoAlta").attr("name", "");             
                $('.observacionAlta').show()
            } else {
                $('#observacionAlta').prop('required', false);
                $('#motivoAlta').prop('required', true);       
                $("#observacionAlta").attr("name", "");  
                $("#motivoAlta").attr("name", "motivoAlta");             
                $('.observacionAlta').hide()
            }
        });
            } else {
                $('.motivoAlta, .observacionAlta').hide()
                $('#observacionAlta, #motivoAlta').prop('required', false);
                $('#motivoAlta, #observacionAlta').val(""); 
            }
        });


    });

</script>

<script>
    $(document).ready(function () {
$('#example').DataTable({    
    order: [[2, 'asc']],
  "columnDefs": [
    { "width": "15%", "targets": 11 }
  ],
  "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
});
    });
</script>

  <%- include('./partials/_footer'); %>
